;
; mqtt2slack.conf - for supervisord configuration file
;
; install
;     $ sudo apt-get install supervisor
;     $ pwd
;       (check your scrpt path...)
;     $ sudo cp mqtt2slack.conf.sample /etc/supervisor/conf.d/mqtt2slack.conf
;     $ sudo vi /etc/supervisor/conf.d/mqtt2slack.conf
;       (fix path, etc...)
;     $ sudo supervisorctl update
;     mqtt2slack: added process group
;     $ sudo supervisorctl status
;     mqtt2slack        RUNNING    pid 8192, uptime 0:00:30
;
; see also
;     Supervisor: A Process Control System
;     http://supervisord.org/
;
[program:mqtt2slack]
command                 = python3 mqtt2slack.py
directory               = /home/pi/work/mqtt2slack/
user                    = pi
numprocs                = 1
autostart               = true
autorestart             = true
redirect_stderr         = true
stdout_logfile          = /home/pi/work/mqtt2slack/log.txt
startsecs               = 5
startretries            = 10
stdout_logfile_maxbytes = 1MB
stdout_logfile_backups  = 1
